
/**
 * @file
 * Site header colors.
 */

body .header__left , body .header__left .nav-primary__button{
  background-color: #005700;
}

body .site-branding {
  background-image: linear-gradient(160deg,#005700 0%,green 78.66%);
}

.site-branding__logo {
  color: transparent;
}
